<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friends List</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "friendslist" %> 
</head>
<body>
  
  <div class="container">
    <h1>Friends List</h1>
    <div id="friends">
      <% @friends.each do |friend| %>
        <div class="friend">
          <p>Name: <%= friend.first_name %> <%= friend.last_name %></p>
          <p>Email: <%= friend.email %></p>
          <p>Phone: <%= friend.phone %></p>
          <p>Twitter: <%= friend.twitter %></p>
          <p><%= link_to "Show this friend", friend, class: "button" %></p>
        </div>
      <% end %>
    </div>
    <br>
    <%= link_to "New friend", new_friend_path, class: "button" %>
    <% if current_user %>
      <p class="notice"></p>
    <% else %>
      <p class="alert">You're not signed in, would you like to <%= link_to 'sign in', new_user_session_path %>?</p>
    <% end %>
  </div>
</body>
</html>