<p style="color: green"><%= notice %></p>
<div class="friend-details">
  <%= render partial: 'friend', locals: { friend: @friend } %>
</div>

<div class="actions">
  <%= link_to "Edit", edit_friend_path(@friend), class: "button" %>
  <%= link_to "Back to Friends", friends_path, class: "button" %>
  <%= button_to "Delete", @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "button button-danger" %>
</div>

<%= stylesheet_link_tag "showfriends" %>
